@import "tailwindcss";
@theme {
    --color-primary: #00D991;
    --color-dark: #171923;
    --color-light: #fff;
    --color-body: #1D1E28
}
@layer components {
    .container {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    }
}
